In [1]:
L = []
dictionary = {}
myset = set()

In [2]:
type(myset)

set

In [3]:
my_set = {1, 2, 3}

In [4]:
my_set

{1, 2, 3}

In [5]:
my_set = set([1,2,3,2])

In [6]:
my_set

{1, 2, 3}

In [7]:
my_set.add(45)

In [8]:
my_set

{1, 2, 3, 45}

In [9]:
my_set.update([22,33,44])

In [10]:
my_set

{1, 2, 3, 22, 33, 44, 45}

In [11]:
my_set.discard(88)

In [12]:
my_set.remove(88)

KeyError: 88

In [13]:
my_set.pop()

1

In [14]:
my_set

{2, 3, 22, 33, 44, 45}

In [15]:
my_set.clear()

In [16]:
my_set

set()

In [17]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [18]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
A & B

{4, 5}

In [20]:
A - B

{1, 2, 3}

In [21]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [22]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [23]:
A | B

frozenset({1, 2, 3, 4, 5, 6})

In [24]:
A.add(34)

AttributeError: 'frozenset' object has no attribute 'add'