In [7]:
tup = ()

In [8]:
tup = (50,)

In [9]:
type(tup)

tuple

In [10]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [11]:
year_cheese = [(2000, 29.87), (2001, 30.12), (2002, 30.6), (2003,
30.66),(2004, 31.33), (2005, 32.62), (2006, 32.73), (2007, 33.5),
(2008, 32.84), (2009, 33.02), (2010, 32.92)]

In [12]:
max(year_cheese)

(2010, 32.92)

In [13]:
max(year_cheese, key=lambda yc: yc[1])  # add lambda function to max year

(2007, 33.5)

In [14]:
max(map(lambda yc: (yc[1],yc), year_cheese))

(33.5, (2007, 33.5))

In [15]:
_[1]  # _ correspond au dernier type de valeur affiche

(2007, 33.5)